<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dataodev3.Properties.Settings.KisilerConnectionString"
            connectionString="Data Source=LAPTOP-PM5A38PG\SQLEXPRESS;Initial Catalog=Kisiler;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>